* {font: 14px/1.5 "Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体";}
ul, li, ol {list-style: none;}
a{text-decoration: none;}
body {background-color: #f9f9f9;line-height:1.5;}
.min-with-0{min-width:0!important;}



