
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hello Vue!</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="~/js/vue.js"></script>
</head>
<body>
    <div>
        <h3>@DateTime.Now</h3>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
