
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WebFrame</title>
</head>
<body>
    <div>
        <h3>@DateTime.Now</h3>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
